div.cs-skin-elastic {
	background: transparent;
	color: white;
	margin: 0 0.25rem;
	width: 1.72rem; 
	height: 0.78rem;
	position: absolute;
	top: 0;
	left: 0;
}

.cs-skin-elastic > span {
	color: transparent;
	background-color: transparent;
	z-index: 100;
}

.cs-skin-elastic > span::after {
	content: "";
	width: 0.6rem; 
	height: 0.78rem;
	position: absolute; 
	top: 0.39rem;
	right: 0.08rem;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.cs-skin-elastic.cs-active > span::after {
	transform: translateY(-50%);
}

.cs-skin-elastic .cs-options {
	overflow: hidden;
	background: transparent;
	opacity: 1;
	padding-bottom: 1.25em;
	pointer-events: none;
	top: 0.78rem;
	left: -0.09rem;
	width: 1.98rem;
}

.cs-skin-elastic.cs-active .cs-options {
	pointer-events: auto;
}

.cs-skin-elastic .cs-options > ul::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	-webkit-transform: scale3d(1,0,1);
	transform: scale3d(1,0,1);
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.cs-skin-elastic.cs-active .cs-options > ul::before {
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
	-webkit-transition: none;
	transition: none;
	-webkit-animation: expand 0.6s ease-out;
  	animation: expand 0.6s ease-out;
}

.cs-skin-elastic .cs-options > ul {
	box-sizing: border-box;
	padding: 0 0.28rem;
	padding-top: 0.42rem;
}

.cs-skin-elastic .cs-options > ul li {
	box-sizing: border-box;
	height: 0.84rem;
	line-height: 0.77rem;
	background: url(../img/sepatate.png) no-repeat center bottom;
}

.cs-skin-elastic .cs-options ul li {
	opacity: 0;
	-webkit-transform: translate3d(0,-25px,0);
	transform: translate3d(0,-25px,0);
	-webkit-transition: opacity 0.15s, -webkit-transform 0.15s;
	transition: opacity 0.15s, transform 0.15s;
}

.cs-skin-elastic.cs-active .cs-options ul li {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	opacity: 1;
	-webkit-transition: none;
	transition: none;
	-webkit-animation: bounce 0.6s ease-out;
  	animation: bounce 0.6s ease-out;
}

.cs-skin-elastic .cs-options span {
	padding: 0;
	margin: 0;
	text-align: center;
	padding-left: 0.45rem;
}

.cs-skin-elastic.cs-active .cs-options ul li:last-of-type{
	background: none;
}

.cs-skin-elastic .cs-options span::before {
	content: '';
	width: 0.35rem; 
	height: 0.76rem;
	position: absolute;
	top: 0; 
	left: 0;
}

.cs-skin-elastic .cs-options .cs-selected span {
	box-sizing: border-box;
	background: url(../img/highlight.png) no-repeat 0.45rem center;
	background-size: 0.97rem 0.42rem;
	text-shadow: #000 1px 0px 1px, #000 -1px 0px 1px, #000 0px 1px 1px, #000 0px -1px 1px;
}

.cs-skin-elastic .cs-options .cs-selected span::after {
	content: '';
}

@-webkit-keyframes expand { 
	0% { -webkit-transform: scale3d(1,0,1); }
	25% { -webkit-transform: scale3d(1,1.2,1); }
	50% { -webkit-transform: scale3d(1,0.85,1); }
	75% { -webkit-transform: scale3d(1,1.05,1) }
	100% { -webkit-transform: scale3d(1,1,1); }
}

@keyframes expand { 
	0% { -webkit-transform: scale3d(1,0,1); transform: scale3d(1,0,1); }
	25% { -webkit-transform: scale3d(1,1.2,1); transform: scale3d(1,1.2,1); }
	50% { -webkit-transform: scale3d(1,0.85,1); transform: scale3d(1,0.85,1); }
	75% { -webkit-transform: scale3d(1,1.05,1); transform: scale3d(1,1.05,1); }
	100% { -webkit-transform: scale3d(1,1,1); transform: scale3d(1,1,1); }
}


@-webkit-keyframes bounce { 
	0% { -webkit-transform: translate3d(0,-25px,0); opacity:0; }
	25% { -webkit-transform: translate3d(0,10px,0); }
	50% { -webkit-transform: translate3d(0,-6px,0); }
	75% { -webkit-transform: translate3d(0,2px,0); }
	100% { -webkit-transform: translate3d(0,0,0); opacity: 1; }
}

@keyframes bounce { 
	0% { -webkit-transform: translate3d(0,-25px,0); transform: translate3d(0,-25px,0); opacity:0; }
	25% { -webkit-transform: translate3d(0,10px,0); transform: translate3d(0,10px,0); }
	50% { -webkit-transform: translate3d(0,-6px,0); transform: translate3d(0,-6px,0); }
	75% { -webkit-transform: translate3d(0,2px,0); transform: translate3d(0,2px,0); }
	100% { -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); opacity: 1; }
}
